header {
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #C8A2C8;
    padding: 30px;
}


main{
    background-color: #f0efef;
    font-family: "Times New Roman";
    padding-top: 15px;
}

controls {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 10px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;

label{
    font-size: 20px;
}


table{
    margin-left: auto;
    margin-right: auto;
    border: #637a85;
    text-align: left;
    font-size: 1.5em;
    size: 300px;

}

    
button {
    background-color: #CBC3E3;
    font-size: 20px;
    border-radius: 7px;
    border-color: #CBC3E3;
    color: #f0efef;
}
