header {
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #C8A2C8;
    padding: 30px;
}


main{
    background-color: #f0efef;
    font-family: "Times New Roman";
    padding-top: 15px;
}

button{
    position: relative;
    top: -25px;
    left: 500px;
    background-color: #CBC3E3;
    font-size: 20px;
    border-radius: 7px;
    border-color: #CBC3E3;
    color: #f0efef;
}
