header {
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #C8A2C8;
    padding: 30px;
}


main{
    background-color: #f0efef;
    font-family: "Times New Roman";
    padding-top: 15px;
}

